@model IEnumerable<Thix_o.ViewModels.PublicacionViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Publication.cshtml";
}

<link href="~/css/Amigo.css" rel="stylesheet" />

<body style="background-color: darkslategray;">
    <br />
    <form class="form-contactos card" method="get" style="background-color: transparent; float: right">
        <div>
            <h4 class="text-left float-left">Amigos</h4>
            <button asp-action="AgregarAmigo" class="btn float-right" style="background-color: darkturquoise;">Agregar Amigos</button>
        </div>
        <div class="dropdown-divider"></div>
        @foreach (var item in ViewBag.Amigos)
        {
            <div>
                <h5 class="text-left">@item.Nombre @item.Apellido (@item.NombreUsuario)</h5>
                <button asp-action="Delete" class="btn float-right"style=" background-color: darkred" asp-route-id="@item.IdUsuario">Eliminar</button>
            </div>
        }
    </form>
    @foreach (var itemP in Model)
    {
        <form class="form-signin card" method="get" style="background-color: darkcyan;">
            <div class="card" style="background-color: darkcyan">
                <input name="IdPublicacion" id="IdPublicacion" type="hidden" value="@itemP.IdPublicacion" />
                <div class="card-header text-left">
                    <div style="float:left;margin-left:5px;">
                        <h5>
                            @foreach (var itemU in ViewBag.Usuarios)
                            {
                                if (itemU.IdUsuario == itemP.IdUsuario)
                                {
                                    @itemU.NombreUsuario
                                }
                            }
                        </h5>
                        <h6>@itemP.FechaHora</h6>
                    </div>
                </div>
                <div class="card-body text-left">
                    <h4>@itemP.Contenido</h4>
                </div>
                <div class="card-footer">
                    <div class="dropdown-divider"></div>
                    <h5 class="text-center"><strong>Comentarios</strong></h5>
                    <div class="dropdown-divider"></div>
                    @foreach (var itemC in ViewBag.Comentarios)
                    {
                        foreach (var itemU2 in ViewBag.Usuarios)
                        {
                            if (itemP.IdPublicacion == itemC.IdPublicacion && itemU2.IdUsuario == itemC.IdUsuario)
                            {
                                <br />
                                <div class="card" style=" background-color: darkturquoise">
                                    <h6 class="text-left">@itemU2.Nombre @itemU2.Apellido </h6>
                                    <p class="text-left">@itemC.Contenido</p>
                                </div>
                            }
                        }
                    }
                    <br />
                    <textarea name="contenido" id="contenido" style="background-color: darkturquoise" rows="1" cols="57" maxlength="300" placeholder="Comenta lo que quieras"></textarea>
                    <button class="btn btn-block" style=" background-color: darkturquoise" asp-action="Comentario" asp-route-id="@itemP.IdPublicacion">Comentar</button>
                </div>
            </div>
        </form>
        <br />
    }
</body>


